body{
    margin: 0; 
    box-sizing: border-box;
    
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
    isolation: isolate;
    
}

.form {
    margin-top: 50px;
    padding: 20px;
    height: 550px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.form h2 {
    color: #112a54;
    font-family: "Roboto", sans-serif;
}
form {
    height: 100%;
    
    
}
.fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8,1fr);
    grid-gap: 20px;
}
.format {
    padding: 20px;
}
#location {
    grid-row: 4;
    grid-column: 1/3;
    padding: 10px;
}
#mytextarea {
    grid-row: 5/6;
    grid-column: 1/3;
    height: 100%;
    /* padding: 10px; */
}

button {
    grid-column: 1/3;
    border: 0;
    background-color: #f2375c;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    
}

/* left side of website */
.img {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    height: 400px;
    padding: 100px 50px;
   
    
}

.img h1 {
    color: #112a54;
    font-family: "Roboto", sans-serif;
    margin-top: 0;
}

.img .text {
    color: red;
    font-family: "Roboto", sans-serif;
}
.img .desc {
    margin-bottom: 50px;
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    opacity: 0.6;
}
.icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.iconBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 50px 50px 10px 20px;
    border-radius: 2%;
    box-sizing: border-box;
    position: relative;
    font: 1em sans-serif;
    color: #112a54;
}

.img .icon {
    position: absolute;
    top:-25px;
    font-size: 30px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.img i 
{
    padding: 15px;
    color: #112a54;
}