.one {
    font-size: x-large;
    font-weight: bold;
    background: -webkit-linear-gradient(3600deg,#ed964a,#c52e8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #fff;
    color: #000000;
  }

  .container
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
    background: #fefefe;
  }


  .container .single-services{
    width: 100%;
  max-width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 50px;
  background: #fff;
  padding: 50px 20px 0 20px;
  margin: 50px 0 50px 0;
  }
 h2 {
    font-weight: bold;
    font-size: 30px;
   text-align: center;
  }
 .container p {
    text-align: center;
    font-size: 20px;
    color: #817f87;
  }

  .social {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(90deg,#ed964a,#c52e8c);

  }

  .container i {
    font-size: 60px;
    padding: 30px;
    color: #fff;
  }
